.gallery {
    width: 100%;
    margin: 0;
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -moz-align-items: stretch;
    -webkit-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

    .gallery .image.fit {
        margin: 0;
    }

    .gallery > * {
        -moz-flex-shrink: 1;
        -webkit-flex-shrink: 1;
        -ms-flex-shrink: 1;
        flex-shrink: 1;
        -moz-flex-grow: 0;
        -webkit-flex-grow: 0;
        -ms-flex-grow: 0;
        flex-grow: 0;
    }

    .gallery > * {
        width: 300px;
        margin: 50;
        max-width: 100%;
        height: auto;
        border:1px solid antiquewhite;
        border-style: dashed;
    }

    @media screen and (max-width: 980px) {

        .gallery > * {
            width: 300px;
            margin: 10;
        }

    }